apiVersion: v1
kind: Service
metadata:
  name: minio-gateway
  labels:
    app: minio-gateway
spec:
  type: NodePort
  ports:
  - port: 9090
    targetPort: 9090
    nodePort: 30090
  selector:
    app: minio-gateway
